#bookmark-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*visibility: hidden;*/
  opacity: 1;
  width: 96%;
  margin: 8px;
  margin-bottom: 4px;
  border-bottom: 1px solid rgb(124, 115, 102);
  transition:
    visibility 0.25s,
    opacity 0.25s,
    width 0.1s;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s !important;
}
#bookmark-form button.active {
  pointer-events: initial;
  cursor: pointer;
  opacity: 0.7;
}

#bookmark-name {
  outline-color: initial;
  color: rgb(219, 219, 219);
  font-size: 12px;
  background-color: transparent !important;
  height: 28px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  padding-left: 5px;
  width: 100%;
  border: 0;
}

#bookmark,
#bookmark-add-button {
  font-size: 12px;
  height: 32px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  opacity: 0.4;
  transform: scale(1);
  transition: 0.1s;
  pointer-events: none;
}

#bookmark:hover,
#bookmark-add-button:hover {
  opacity: 1;
  transform: scale(1.1);
}
