#bookmark-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*visibility: hidden;*/
  opacity: 1;
  width: 96%;
  position: relative;
  padding: 4px 0 4px 8px;
  /*border-bottom: 1px solid rgb(124, 115, 102);*/
  transition:
    visibility 0.25s,
    opacity 0.25s,
    width 0.1s;
}

#bookmark-form:after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(90deg, rgb(79 75 75) 0%, #1a1a1a 100%);
  height: 1px;
  left: 0;
  background-image: linear-gradient(90deg, rgb(58, 63, 65) 0%, rgb(20, 21, 22) 100%);
  background-color: initial;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s !important;
}
#bookmark-form button.active {
  pointer-events: initial;
  cursor: pointer;
  opacity: 0.7;
}

#bookmark-name {
  outline-color: initial;
  color: rgb(219, 219, 219);
  font-size: 12px;
  background-color: transparent !important;
  height: 28px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  width: 100%;
  border: 0;
  padding-left: 4px;
  background-color: #141414ba !important;
}
input#bookmark-name:focus {
  background-color: #141414ba !important;
}
#bookmark,
#bookmark-add-button {
  font-size: 12px;
  height: 32px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  opacity: 0.4;
  transform: scale(1);
  transition: 0.1s;
  pointer-events: none;
}

#bookmark:hover,
#bookmark-add-button:hover {
  opacity: 1;
  transform: scale(1.3);
}

#bookmark-add-button svg {
  fill: rgb(199, 199, 199);
  width: 18px;
  height: 18px;
}
